<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blb.demo01.mapper.BooksMapper">

    <resultMap id="BaseResultMap" type="com.blb.demo01.entity.Books">
            <result property="id" column="id" jdbcType="INTEGER"/>
            <result property="bookTitle" column="book_title" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="zishu" column="zishu" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,author,
        zishu,price
    </sql>

    <select id="mySelectedBooks" resultType="com.blb.demo01.entity.Books">
        select * from books
    </select>

</mapper>
