<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blb.mybatisdemo01.mapper.EmpMapper">

    <resultMap id="BaseResultMap" type="com.blb.mybatisdemo01.entity.Emp">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="job" column="job" jdbcType="VARCHAR"/>
        <result property="salary" column="salary" jdbcType="INTEGER"/>
        <result property="entrydate" column="entrydate" jdbcType="DATE"/>
        <result property="managerid" column="managerid" jdbcType="INTEGER"/>
        <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,age,
        job,salary,entrydate,
        managerid,dept_id
    </sql>

    <resultMap id="empAndDeptMap" type="com.blb.mybatisdemo01.entity.Emp">
        <result property="dept.id" column="d.id"/>
        <result property="dept.name" column="d.name"/>
    </resultMap>

    <resultMap id="empAndDeptMap2" type="com.blb.mybatisdemo01.entity.Emp">
        <association property="dept" javaType="com.blb.mybatisdemo01.entity.Dept">
            <id property="id" column="d.id"/>
            <result property="name" column="d.name"/>
        </association>
    </resultMap>

    <select id="getEmpAndDept" resultMap="empAndDeptMap2">
        select *
        from emp e
                 left join dept d on e.dept_id = d.id
        where e.id = #{e.id};
    </select>

    <resultMap id="selectEmpAndDeptMap" type="com.blb.mybatisdemo01.entity.Emp">
        <association property="dept" select="com.blb.mybatisdemo01.mapper.DeptMapper.mySelectById" column="dept_id">
        </association>
    </resultMap>

    <select id="selectEmpAndDept" resultMap="selectEmpAndDeptMap">
        select *
        from duobiaochaxun.emp
        where id = #{id}
    </select>

</mapper>
